/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&family=Nova+Square&display=swap');



/*Asterisk selector to overide default styles from browser*/
*{
    padding: 0;
    margin: 0;
    border: none;
}

/*General styles*/
body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}



/*header*/
header {
    
    background-color: #EEE82C;
}

/*Main Content*/
main {
    
    background-color: #D7CDCC;

/*Make main element push footer down*/
flex: 1 0 auto;

}

/*Footer*/
footer {
    
    background-color: #261447
}