/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Nova+Square&display=swap');


/*Asterisk selector to overide default styles from browser*/
*{
    padding: 0;
    margin: 0;
    border: none;
}

/*General styles*/
body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    font-family: 'DM Sans' , sans-serif;
}



/*header*/
header {
    
    background-color: #EEE82C;
}

h1{
    font-family: 'Nova square' , sans-serif;
}

/*Main Content*/
main {
    
    background-color: #D7CDCC;

/*Make main element push footer down*/
flex: 1 0 auto;

}

/*Footer*/
footer {
    
    background-color: #261447
}